/* Kübra PR-3 Best Services  */
div.PR-3-box {
    margin-top: 20vh;
    position: relative;
    text-align: center;
}

div.best-services-content {
    display: block;
    text-align: center;

}

div.bs-guided-tours {
    display: inline-block;
    text-align: center;
    border: 6px solid;
    border-radius: 24px;
    border-color: white;
    width: 150px;
    height: 200px;
    margin: 50px;
    position: relative;
}

div.bs-best-flight-options {
    display: inline-block;
    text-align: center;
    border: 6px solid;
    border-radius: 24px;
    border-color: white;
    box-shadow: #F2F2F2 1px 1px 16px;
    width: 150px;
    height: 200px;
    margin: 50px;
    position: relative;

}

div.bs-religious-tours {
    display: inline-block;
    text-align: center;
    border: 6px solid;
    border-radius: 24px;
    border-color: white;
    width: 150px;
    height: 200px;
    margin: 50px;
    position: relative;

}

div.bs-medical-insurance {
    display: inline-block;
    text-align: center;
    border: 6px solid;
    border-radius: 24px;
    border-color: white;
    width: 150px;
    height: 200px;
    margin: 50px;
    position: relative;

}

h6.bs-head-text {
    color: #ff8c00;
    font-size: 15px;
    text-align: center;
    margin-top: 12px;

}

h2.bs-head-text {
    color: #181e4b;
    font-size: 40px;
    text-align: center;
}

img {
    margin-top: 12px;
}

/* Kübra PR-3 Best Services  */