/* Emir/ PR-13 About Page Hero START */

.hero-container {
    position: relative;
    background-image: url(/images/about/about-header-img.png);
    width: 100%;
    height: 766px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 20%;

}

.hero {
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.nav-bar {
    display: flex;
    color: white;
    font-family: "Circular Std Book";
    column-gap: 30px;

}

.nav-bar a {
    transition-duration: 0.4s;
    transition-property: all;
}

.nav-bar a:hover {
    transform: translateY(-3px);

}

.nav-about {
    display: flex;
    flex-direction: column;
}

.contact-btn button {
    background-color: #DF6951;
    color: white;
    width: 152px;
    height: 58px;
    border: 1px solid #DF6951;
    border-radius: 10px;
    font-family: "Circular Std Book";
    font-size: 17px;
    font-weight: 500;
    line-height: 21.5px;
    transition-duration: 0.4s;
    transition-property: all;
}

.contact-btn button:hover {
    background-color: rgba(190, 190, 190, 0.671);
    color: #DF6951;
    font-weight: 500;
    cursor: pointer;
    transform: translateY(-10px);



}

.about-us {
    position: absolute;
    top: 30%;
    left: 35%;
    max-width: 487px;
    max-height: 224px;
}

.about-us h6 {

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.about-us h1 {
    color: white;
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-size: 157.43px;

}

@media (max-width:800px) {

    .about-us {
        top: 40%;
        left: 26%;
    }

    .about-us h1 {
        font-size: 80px;
    }

    .about-us h6 {
        font-size: 12px;
    }

    .nav-bar {
        column-gap: 15px;
    }

    .contact-btn button {
        width: 76px;
        height: 58px;
    }
}


/* Emir/ PR-13 About Page Hero END */


/* Emir/ PR-12 About Promotion START */
.promotion-container {

    max-width: 2378px;
    display: flex;
    flex-direction: row;
}

.promotion-text {
    margin-left: 200px;
    padding-top: 180px;
    max-width: 639px;

}

.promotion-text h5 {
    max-width: 126px;
    color: #DF6951;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 2px;
}

.promotion-text h1 {
    max-width: 639px;
    color: #181E4B;
    font-family: "Volkhov", serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 71.04px;

}

.promotion-text p {
    margin-top: 20px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.promotion-text button {
    background-color: #DF6951;
    width: 176.5px;
    height: 56.42px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;


}

.promotion-text button:hover {
    background-color: white;
    color: #DF6951;
    border-color: #DF6951;
    cursor: pointer;
}


.promotion-image img {
    padding-top: 18px;
    width: 900px;

}

@media (max-width:1320px) {
    .promotion-image img {
        width: 750px;
        padding-top: 210px;
    }
}

@media (min-width:1920px) {
    .promotion-image {
        padding-left: 300px;
    }
}

/* Emir/ PR-12 About Promotion END */