.book-trip-container{
  max-width: 1350px;
  left: 277px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-trip-context{
  max-width: 458px;
}

.book-trip-subtitle{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #DF6951;
}

.book-trip-title{
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 64.5px;
  color: #181E4B;
}

.book-trip-values{
  max-width: 395px;
}

.book-trip-value{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.book-trip-value-icon{
  max-width: 47px;
  margin-right: 20px;
}

.book-trip-value-subtitle,
.book-trip-value-p{
  font-size: 16px;
  line-height: 19.92px;  
  color: #5E6282;
}

.book-trip-value-subtitle{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.book-trip-value-p{
  max-width: 327px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.book-trip-img-container{
  max-width: 628px;
}

.book-trip-img{
  width: 100%;
}