.book-trip-container {
  max-width: 1350px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.book-trip-context {
  max-width: 458px;
}

.book-trip-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(12px, 4vw, 18px);
  line-height: 27px;
  color: #df6951;
}

.book-trip-title {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: clamp(28px, 4vw, 50px);
  line-height: clamp(35px, 4vw, 65px);
  color: #181e4b;
}

.book-trip-values {
  max-width: 395px;
}

.book-trip-value {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}

.book-trip-value-icon {
  width: clamp(40px, 8vw, 50px);
}

.book-trip-value-subtitle,
.book-trip-value-p {
  font-size: clamp(10px, 4vw, 16px);
  line-height: 19.92px;
  color: #5e6282;
}

.book-trip-value-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.book-trip-value-p {
  max-width: 327px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.book-trip-img-container {
  max-width: 628px;
}

.book-trip-img {
  width: 100%;
}

@media (max-width: 1120px) {
  .book-trip-container {
    justify-content: center;
  }
}
