
    .square-box {
        width: 47px; /* Genişlik */
        height: 47px; /* Yükseklik */
        background-color: #DF6951; /* Arka plan rengi kırmızı */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        color: white; /* Yazı rengi beyaz */
        border-radius: 9px;
        box-sizing: border-box;
    }
    .tour-plan {
        margin-left: 60px;
    }
    .title {
        font-family: Volkhov;
        font-size: 31.62px;
        font-weight: 700;
        line-height: 40.79px;
        text-align: left;


    }
    .tour-title{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        margin-left: 35px;


    }
    .tour-parg{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin-left: 35px;

    }
    .Departure::before {
        content:'';
        position: absolute;
        left: 20px;
        width: 2px;
        height: calc(100% +20px);
        border-left: 2px dashed #DF6951; 
        height: 70px;
        margin-left: 5px;

    }
    .Visiting-Zurich::before {
        content:'';
        position: absolute;
        left: 20px;
        width: 2px;
        height: calc(100% +20px);
        border-left: 2px dashed #DF6951; 
        height: 70px;
        margin-left: 5px;
    }
    .Rest::before {
        content:'';
        position: absolute;
        left: 20px;
        width: 2px;
        height: calc(100% +20px);
        border-left: 2px dashed #DF6951; 
        height: 70px;
        margin-left: 5px;
    }
    .Historical-tour::before {
        content:'';
        position: absolute;
        left: 20px;
        width: 2px;
        height: calc(100% +20px);
        border-left: 2px dashed #DF6951; 
        height: 70px;
        margin-left: 5px;
    }
    .Return {

    }
    .list-tour{
        width: 175px;
        height: 21px;
        top: 1120px;
        left: 427px;
        gap: 0px;
        opacity: 0px;
        margin-left: 50px;

    }
    